.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #F5F8FF;
}

.logo {
    font-size: 34px;
    color: #4E47FF;
    font-weight: 900;
}

.btn {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #4E47FF;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.btn:hover {
  background-color: yellow;
  color: black;
}

.header {
    background-image: url('../Assets/hero-bg.png');
    background-repeat: no-repeat;
    width: 100%;
}

.header-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
}

.header-down {
    margin-top: 100px;
    text-align: center;
}

.header-down h1{
    color: #252432;
    font-weight: bold;
    font-size: 65px;
}

.header-down .btn {
  margin-bottom: 100px;
}

.launch-live h3 {
    color: #252432;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;
}

.launch-live-mini{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 140px;
}

.launch-live-mini img{
    width: 400px;
    height: 330px;
    border-radius: 48px;
}

.launch-live .btn {
  margin-top: 20px;
}

.paragraph {
    color: #25243250;
    font-size: 22px;
    margin: 0;
}

.progress {
    border-radius: 24px;
    background-color: #4E47FF10;
    margin: 30px 140px;
    padding: 50px 100px;
}

.progress h3 {
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 0;
}

.progress-numbers {
    display: flex;
    justify-content: space-between;
}

.progress-numbers h4{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
    margin: 0;
}

.progress-numbers p{
    font-size: 18px;
    color: #00000050;
    text-align: center;
    margin: 0;
}

.reviews h3{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-top: 100px;
    text-align: center;
}

.review{
    background-color: #FFFFFF50;
    border: 1px solid rgb(242, 237, 237);
    border-radius: 14px;
    width: 300px;
    padding: 24px;
}

.review h4 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 0px;
}

.review p {
    font-size: 16px;
    color: #1E1E1E;
    margin-top: 8px;
}

.avatar {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.avatar img {
    border-radius: 50%; 
}

.avatar h5 {
    color: #757575;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.avatar p {
    color: #B3B3B3;
    font-size: 16px;
    margin: 0;
}

.avatar-name {
    margin-left: 12px;
}

.reviews-wrapper {
    display: flex;
    margin-left: 140px;
    margin-right: 140px;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

.form-section {
    margin: 100px 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-section h3 {
    font-weight: bold;
    font-size: 90px;
    margin: 0;.
    width: 50%;
}

.form {
    width: 40%;
}

.form p {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

form input {
    border-radius: 10px;
    width: 400px;
    height: 50px;
    padding: 10px 22px;
    font-size: 20px;
    color: #00000050;
    border: 1px solid #D6DDED;
}

.form textarea {
    border-radius: 10px;
    width: 400px;
    height: 120px;
    padding: 10px 22px;
    font-size: 20px;
    color: #00000050;
    border: 1px solid #D6DDED;
}

.form button{
    margin-top: 10px;
    width: 448px;
}

.footer{
    text-align: center;
    background-color: white;
    border-top: 1px solid #00000010;
    padding: 80px 350px;
}

.footer-logo {
    font-size: 100px;
    color: #4E47FF;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 8px;
}

.footer p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #8987A1;
    font-weight: 400;
}

.footer-links{
    display: flex;
    justify-content: center;
    gap: 48px;
}

.footer a {
    font-size: 16px;
    margin: 0;
    color: #8987A1;
    font-weight: 400;
    text-decoration: none;
}